extends layout

block content
  h1= title
  link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
  script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js')  
  div(class="container" ng-app='' ng-controller="myController")
    div(class="form-group")
      label Number of Rules: 
      input(type='number' name'k' class="form-control" ng-model='k')
    div(class="form-group")
      label Max Weight:
      input(type='number' class="form-control" ng-model='mw')
    div(class="form-group")
      label(for="sel1") Weighting Scheme:
      select(class="form-control" ng-model='W')
        option(value="Size") Size
        option(value="Bits") Bits
        option(value="Square") Square
        option(value="Min2") Min2   
    br.
    table(class="table table-striped")
      thead
        tr
          td
          td(ng-repeat="opt in colopts")
            {{opt}}
      tbody      
        tr(ng-repeat="col in cols")
          td
            {{col}}
          td(ng-repeat="opt in colopts")
            input(type="radio" ng-model="colopt[col]" name="colopt-{{col}}" value="{{opt}}")
    br.
    br.
    table(class="table table-striped")
      tr
        td 
        td
        td(ng-repeat="col in cols")
           font(size="5") {{col}}
        td 
          font(size="5") Count
        td 
          font(size="5") Weight
      tr(ng-repeat="rule in rules")
        td 
          button(class="btn" ng-click="expand(rule.row, -1)" ng-if="rule.expanded == 0") +
          button(class="btn" ng-click="expand(rule.row, -1)" ng-if="rule.expanded != 0") -
        td 
          font(size="4") {{rule.depthStr}}
        td(ng-repeat="val in rule.vals track by $index") 
          //button(ng-if="val=='*'" ng-click="expand(rule.row, $index)") {{val}}
          //div(ng-if="val!='*'") {{val}}
          div 
            font(size="6") {{val}}
  script.
    function myController($scope, $http) {
        $scope.cols=['Gender','Marital Status','Age','Education','Occupation','Time in Bay Area'];//,'Dual Income?','Persons in household']; // Take as input.
        $scope.colopts=["Default", "Ignore", "Force"]; 
        $scope.ignore={};
        $scope.force={};
        $scope.colopt={};
        $scope.k=3;
        $scope.mw=5;
        $scope.W='Size';
        $scope.rules=[{'depthStr':'','vals':[], 'row':0, 'depth':0, 'expanded':0}];
        for (i in $scope.cols) {
          $scope.ignore[$scope.cols[i]] = false;
          $scope.colopt[$scope.cols[i]] = "Default";
          $scope.force[$scope.cols[i]] = false;
          $scope.rules[0]['vals'].push('*');
        }
        $scope.rules[0]['vals'].push(8993);
        $scope.rules[0]['vals'].push(0);
        $scope.cont="#{cont}";
        $scope.expand_o = function(row, col) {
          var url = "http://localhost:3000/expansion";
          $http.post(url, {'k':$scope.k, 'mw':$scope.mw, 'W':$scope.W, 'rules':$scope.rules, 'rowNo':row, 'colNo':col, 'colopt':$scope.colopt}).success(function(data) {
            $scope.rules = data;
          }).error(function(response) {
            alert("AJAX failed");
          });
        }
        $scope.expand = function(row, col) {
          var url = "http://localhost:8080/TT/MarketingSDD";
          $http.post(url, {'k':$scope.k, 'mw':$scope.mw, 'W':$scope.W, 'rules':$scope.rules, 'rowNo':row, 'colNo':col, 'colopt':$scope.colopt}).success(function(data){
            $scope.rules = data;
          }).error(function(response) {
            alert(response);
          });
        }
    }
  
